# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Karolina\Desktop\ФИНКИ 2018-2019\Шести семестар, летен 2021\Електронска и мобилна трговија\Проект\TravelAgency\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
